#
# Profile
#

ibexa.user_profile.change_password:
    path: /user/change-password
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\PasswordChangeController::userPasswordChangeAction'

ibexa.user.forgot_password:
    path: /user/forgot-password
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\PasswordResetController::userForgotPasswordAction'

ibexa.user.forgot_password.migration:
    path: /user/forgot-password/migration
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\PasswordResetController::userForgotPasswordAction'
        reason: 'migration'

ibexa.user.forgot_password.login:
    path: /user/forgot-password/login
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\PasswordResetController::userForgotPasswordLoginAction'

ibexa.user.reset_password:
    path: /user/reset-password/{hashKey}
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\PasswordResetController::userResetPasswordAction'

ibexa.user.register: &user.register
    path: /register
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\UserRegisterController::registerAction'

ibexa.user.user_register:
    <<: *user.register
    path: /user/register

ibexa.user.from_invite.register: &user.from_invite.register
    path: /from-invite/register/{inviteHash}
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\UserRegisterController::registerFromInvitationAction'

ibexa.user.from_invite.user_register:
    <<: *user.from_invite.register
    path: /user/from-invite/register/{inviteHash}

ibexa.user.register_confirmation: &user.register_confirmation
    path: /register-confirm
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\UserRegisterController::registerConfirmAction'

ibexa.user.user_register_confirmation:
    <<: *user.register_confirmation
    path: /user/register-confirm

ibexa.user.invite_user:
    path: /user/invite
    methods: [POST, GET]
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\UserInvitationController::inviteUser'

ibexa.user_settings.list:
    path: /user/settings/list/{page}
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\UserSettingsController::listAction'
        page: 1
    requirements:
        page: \d+

ibexa.user_settings.update:
    path: /user/settings/update/{identifier}
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\UserSettingsController::updateAction'
    requirements:
        identifier: .+

ibexa.user.default_profile_image.initials:
    path: /user/default_profile_image/initials.svg
    defaults:
        _controller: 'Ibexa\Bundle\User\Controller\DefaultProfileImageController::initialsAction'
