services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Ibexa\User\PasswordReset\Notifier: ~

    Ibexa\Contracts\User\PasswordReset\NotifierInterface: '@Ibexa\User\PasswordReset\Notifier'
